.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
}

.headerContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headernav {
  display: none;
}

.headernav__hamburguer {
  padding-right: 40px;
}

.headernav__link {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    width: 100%;
  }
  .headernav {
    display: flex;
  }
  .headerNavContent {
    text-decoration: none;
    list-style: none;
    color: hsl(233deg, 8%, 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
  }
  .headerNavContent .headerNavContent__list:hover {
    border-bottom: 4px solid hsl(136deg, 65%, 51%);
  }
}
.headernav__link {
  display: block;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 12px 30px;
  background-image: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 50px;
  font-size: 15px;
  border: none;
}

.headernav__hamburguer {
  display: none;
}

.footer {
  padding: 40px 0;
  text-align: center;
  background-color: hsl(233deg, 26%, 24%);
  width: 100vw;
}

.footer__socialmedias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.footer__Container--first {
  padding-bottom: 40px;
}

.footer__socialmedia {
  width: 30px;
  height: 30px;
}

.footer__Container__link {
  display: block;
  padding-bottom: 15px;
  text-decoration: none;
  color: white;
}

.footer__Container--second {
  padding-bottom: 40px;
}

.footer__Container__button {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 13px 35px;
  background-image: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 50px;
  font-size: 15px;
  border: none;
  margin-bottom: 20px;
}

.footer__Container__reserved {
  color: hsl(0deg, 0%, 98%);
}

img {
  max-width: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.home {
  padding: 0px 20px;
  text-align: center;
  padding-bottom: 75px;
}

.home__Title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  font-size: 45px;
}

.paragraph {
  font-weight: 300;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.5em;
  padding-bottom: 30px;
}

.home__link {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 15px 35px;
  background-image: linear-gradient(90deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border-radius: 50px;
}

.about {
  text-align: center;
  padding: 75px 20px;
  background-color: hsl(0deg, 0%, 98%);
}

.about__Title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  font-size: 38px;
}

.about__Card__Title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  font-size: 20px;
}

.articles {
  background-color: white;
  text-align: center;
  padding: 75px 20px;
}

.articles__Ttile {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  font-size: 38px;
}

.articles__Container {
  text-align: left;
}
.articles__Container .articles__Container--first {
  background-color: hsl(0deg, 0%, 98%);
}
.articles__Container .articles__Container--second {
  background-color: hsl(0deg, 0%, 98%);
}
.articles__Container .articles__Container--third {
  background-color: hsl(0deg, 0%, 98%);
}
.articles__Container .articles__Container--fourth {
  background-color: hsl(0deg, 0%, 98%);
}

.articles__Container .articles__Container__img {
  border-radius: 10px 10px 0px 0px;
  max-height: 350px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.articles__Container__span {
  color: hsl(233deg, 8%, 62%);
  font-weight: 300;
  font-size: 13px;
  padding: 0px 40px;
}

.articles__Container__title {
  color: hsl(233deg, 26%, 24%);
  font-weight: 300;
  padding: 0px 40px;
}

.articles__Container__paragraph {
  font-size: 14px;
  padding: 0px 40px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 50px;
  }
  .about {
    text-align: left;
    padding: 75px 50px;
  }
  .about__paragraph {
    max-width: 650px;
  }
  .about__Cards {
    display: flex;
  }
  .about__Card__paragraph {
    max-width: 90%;
  }
  .articles {
    text-align: left;
  }
  .articles__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .articles__Container__img {
    height: auto;
  }
  .articles__Container__span {
    padding: 0 20px;
  }
  .articles__Container__title {
    padding: 0 20px;
  }
  .articles__Container__paragraph {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
