@mixin buttons {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 13px 35px;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
    font-size: 15px;
}

.footer {
    padding: 40px 0;
    text-align: center;
    background-color: hsl(233, 26%, 24%);
    width: 100vw;
}

.footer__socialmedias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.footer__Container--first {
    padding-bottom: 40px;
}

.footer__socialmedia {
    width: 30px;
    height: 30px;
}

.footer__Container__link {
    display: block;
    padding-bottom:15px; 
    text-decoration: none;
    color: white;
}

.footer__Container--second {
    padding-bottom: 40px;
}

.footer__Container__button {
    @include buttons;
    margin-bottom: 20px;
}

.footer__Container__reserved {
    color: hsl(0, 0%, 98%);
}

