@mixin buttons {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 12px 30px;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
    font-size: 15px;
    border: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headernav {
    display: none;   
    @media screen and (min-width:1024px){
        display: block;
        @include buttons;
    }     
}

.headernav__hamburguer {
    padding-right: 40px;
    @media screen and (min-width:1024px){
        display: none;
    }     
}

.headernav__link {
    display: none;
    color: red;
}

@media screen and (min-width:1024px){

    .header {
        width: 100%;
    }

    .headernav {
        display: flex;
    }
    
    .headerNavContent {
        text-decoration: none;
        list-style: none;
        color: hsl(233, 8%, 62%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 16px;

        .headerNavContent__list:hover {
            border-bottom: 4px solid hsl(136, 65%, 51%);
        }
    }
}