@use "header";
@use "footer";

@mixin buttons {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 15px 35px;
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 50px;
}

img {
    max-width: 100%;
}

body {  
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

.home {
    padding: 0px 20px;
    text-align: center;
    padding-bottom: 75px;
}   

.home__Title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 45px;
}

.paragraph {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    line-height: 1.5em;
    padding-bottom: 30px;
}

.home__link {
    @include buttons;
}

.about {
    text-align: center;
    padding: 75px 20px;
    background-color: hsl(0, 0%, 98%);
}

.about__Title{
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 38px;
}

.about__Card__Title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 20px;
}

.articles {
    background-color: white;
    text-align: center;
    padding: 75px 20px;
}

.articles__Ttile {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 38px;
}

.articles__Container  {
    text-align: left;
    .articles__Container--first {
        background-color: hsl(0, 0%, 98%) ;
    }
    .articles__Container--second {
        background-color: hsl(0, 0%, 98%) ;
    }
    .articles__Container--third {
        background-color: hsl(0, 0%, 98%) ;
    }
    .articles__Container--fourth {
        background-color: hsl(0, 0%, 98%) ;
    }
}

.articles__Container {
    .articles__Container__img {
        border-radius: 10px 10px 0px 0px;
        max-height: 350px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    } 
}

.articles__Container__span {
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    font-size: 13px;
    padding: 0px 40px;
}

.articles__Container__title {
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    padding: 0px 40px;
}

.articles__Container__paragraph {
    font-size: 14px;
    padding: 0px 40px;
    padding-bottom: 60px;
}

@media screen and (min-width:768px){

    .homeContainer--second {
        grid-area: b;
    }

    .homeContainer--first {
        grid-area: a;
    }

    .home {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-areas: "b a";
        grid-template-columns: 5fr 5fr;
        align-items: center;
        padding: 75px 50px;
        padding-top: 0;
        gap: 100px;
        text-align: left;
    }

    .about__Cards {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;   
    }

    .articles__Container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
    }

}

@media screen and (min-width:1024px){

    .homeContainer--second {
        grid-area: b;
    }

    .homeContainer--first {
        grid-area: a;
    }

    .home {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-areas: "b a";
        grid-template-columns: 5fr 5fr;
        align-items: center;
        padding: 0 50px;
        padding-top: 0;
        gap: 100px;
        text-align: left;
    }

    .about {
        text-align: left;
        padding: 75px 50px;
    }

    .aboutcontainerTitle {
        max-width: 1200px;
        margin: 0 auto;
    }

    .about__paragraph {
        max-width: 1200px;
        max-width: 650px;
    }
    
    .about__Cards {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
    }

    .about__Card__paragraph {
        max-width: 90%;
    }

    .articles {
        text-align: left;
        max-width: 1200px;
        margin: 0 auto;
        padding: 75px 50px;
    }

    .articles__Container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .articles__Container__img {
        height: auto;
    }

    .articles__Container__span {
        padding: 0 20px;
    }

    .articles__Container__title {
        padding: 0 20px;
    }

    .articles__Container__paragraph {
        padding: 0 20px;
    }
}